
$primary: #4db6ac;
$primary-color: #4db6ac;
$primary-color-dark: #3d8f87;
$roboto-font-path: '/scripts/mdbootstrap/font/roboto/';
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px,
  xxl: 1280px,
  xxxl: 1360px
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1368px,
  xxxl: 1440px
);
