
$primary: #4db6ac;
$primary-color: #4db6ac;
$primary-color-dark: #3d8f87;
$roboto-font-path: '../../node_modules/mdbootstrap/font/roboto/';
$image-path: '../../node_modules/mdbootstrap/img/';
$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts/';
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
  xxl: 1366px,
  xxxl: 1600px
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1366px,
  xxxl: 1600px
);
