#alerts-flashman.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-bell.fa-lg
          strong &nbsp; Notificações e Alertas

        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      #alerts-flashman-body.modal-body
