
#open-firewall-ports.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-lock-open.fa-lg
          strong &nbsp; Abertura de Portas no Roteador &nbsp;
            label(name="openfirewallRouterid_label" id="openfirewallRouterid_label")
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
        .row
          .col-10
            .row
              .col-6 
                span Dispositivos &nbsp
                a.badge.teal.lighten-2.btn-syncOnlineDevs
                  .fas.fa-sync-alt#btnAnimSyncOnlineDevs
              .col-4
                span Portas Disponiveis
              .col-2
                span DMZ
            .row
              .col-6
                select.form-control#openFirewallPortsMac
              .col-4
                select.form-control#openFirewallPortsPorts(Multiple)
                  option(value="20") FTP Dados
                  option(value="21") FTP Controle 
                  option(value="22") Secure Shell (SSH) 
              .col-2
                label.switch
                  input.checkbox#openFirewallPortsDMZ(type="checkbox" checked=true)
                  .slider.round
          .col-1.mt-3
            button.btn.teal.lighten-2.btn-sm.btn-openFirewallPortsSaveRule(type="button")
              span Adicionar
        .row
          .col-12
            ul.list-group#openFirewallPortsRules
              li.list-group-item.d-flex.justify-content-between
                span TESTE Mais teste
                span.pull-right.button-group
                  a.badge.teal.lighten-2.openFirewallPortsRemoveRule
                    span del
        input#openFirewallPortsFinalRules(type="hidden")
        input#openFirewallPortsFinalRulesChanged(type="hidden")
      .modal-footer 
        .btn-group.btn-group-sm(role="group")
            button.btn.teal.lighten-2.btn-sm.btn-openFirewallPorts(type="button")
              span &nbsp Aplicar