
#analyse-logs.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-file-alt.fa-lg
          strong &nbsp; Logs do Roteador &nbsp;
            label(name="logRouterid_label" id="logRouterid_label")
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
        .row
          .col
            h2.text-center.grey-text.mb-3#logs-placeholder
              i.fas.fa-file-alt.fa-4x
              br
              br
              span Escolha uma opção abaixo
            pre.pre-scrollable#logArea(style="display: none;")
      .modal-footer 
        .btn-group.btn-group-sm(role="group")
            button.btn.teal.lighten-2.btn-sm.btn-log-upgrade(type="button")
              span &nbsp Primeiro boot
            button.btn.teal.lighten-2.btn-sm.btn-log-init(type="button")
              span &nbsp Boot
            button.btn.teal.lighten-2.btn-sm.btn-log-live(type="button")
              span &nbsp Ao Vivo