
#lan-devices.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-network-wired.fa-lg
          strong &nbsp;Dispositivos conectados em&nbsp;
            label(name="lan-devices-hlabel" id="lan-devices-hlabel")
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body.pt-2#lan-devices-body
