
#special-search-terms.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-search.fa-lg
          strong &nbsp; Filtros de Busca Especiais

        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
          .row
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text online
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text instavel
                span.badge.grey.lighten-2.bounceIn
                  .black-text offline
            .col
              p
                strong Use um desses filtros para filtrar somente os
                  |  CPEs online (verde), instável (vermelho)
                  |  ou offline (cinza)
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text offline >H
            .col
              p
                strong Substituir H pelo número de horas desejado.
                  |  Inclui resultados de CPEs que estão offline
                  |  por um período igual ou superior ao número de horas
                  |  especificado. Exemplo: "offline >48" exibirá CPEs
                  |  que estão offline há 48 horas ou mais
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text upgrade on
                span.badge.grey.lighten-2.bounceIn
                  .black-text update on
            .col
              p
                strong Use um desses filtros para filtrar somente os
                  |  CPEs marcados para atualização
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text upgrade off
                span.badge.grey.lighten-2.bounceIn
                  .black-text update off
            .col
              p
                strong Use um desses filtros para filtrar somente os
                  |  CPEs não marcados para atualização
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text tr069
                span.badge.grey.lighten-2.bounceIn
                  .black-text flashbox
            .col
              p
                strong Use um desses filtros para filtrar somente os
                  |  cadastros que usam TR-069 ou somente os com firmware Flashbox
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text sinal bom
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text sinal fraco
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text sinal ruim
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text sem sinal
            .col
              p
                strong Use um desses filtros para filtrar CPEs TR-069 pelo nível
                  |  do sinal óptico recebido. Os valores utilizados na classificação
                  |  são os mesmos configurados para o app do técnico.
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text ipv6 on
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text ipv6 off
                //- In the translation of this field it shall be
                //- concerned that in the complexSearchDeviceQuery
                //- function in the controllers/device_list.js
                //- the filter is bind with the exact word in
                //- portuguese, so is import to dealt with this
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text ipv6 desconhecido
            .col
              p
                strong Use um desses filtros para filtrar os CPEs ao qual possuem ipv6 habilitado, desabilitado ou desconhecido.
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text mesh on
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text mesh off
            .col
              p
                strong Use um desses filtros para filtrar os CPEs ao qual possuem modo mesh habilitado ou desabilitado.
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text modo roteador
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text modo bridge
            .col
              p
                strong Use um desses filtros para filtrar os CPEs que estão operando em Modo Roteador ou Modo Bridge / Modo AP.
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text /ou
            .col
              p
                strong Inclui resultados que contém um ou mais filtros
                 |  aplicados. Exemplo: "João","online","/ou" exibirá
                 |  todos os CPEs que estão online, ou contém "João",
                 |  ou estão online e contém "João" no cadastro
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text /e
            .col
              p
                strong Inclui resultados que contém todos os filtros
                 |  aplicados. Exemplo: "João","online","/e" exibirá
                 |  todos os CPEs que estão online e contém "João"
                 |  no cadastro
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text /excluir
            .col
              p
                strong Exclui resultados de CPEs que possuem o termo
                  |  procurado. Exemplo: "online","/excluir 9999-aix" exibirá
                  | todos os CPEs que estão online e que não contém a
                  | release 9999-aix do Flashbox
