
#upgrade-scheduler.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-clock.fa-lg
          strong &nbsp; Agendamento de atualização
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
        .row
          .col
            
      .modal-footer 
        button.btn.btn-primary#btn-submit-upgrade-schedule(type="button")
          .fas.fa-check.fa-lg
          span &nbsp Aplicar
