
#special-search-terms.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-search.fa-lg
          strong &nbsp; Filtros de Busca Especiais

        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
          .row
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text online
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text instavel
                span.badge.grey.lighten-2.bounceIn
                  .black-text offline
            .col
              p
                strong Use um desses filtros para filtrar somente os 
                  | CPEs online (verde), instável (vermelho) 
                  | ou offline (cinza)
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text offline >H
            .col
              p
                strong Substituir H pelo número de horas desejado.
                  | Inclui resultados de CPEs que estão offline
                  | por um período igual ou superior ao número de horas
                  | especificado. Exemplo: "offline >48" exibirá CPEs
                  | que estão offline há 48 horas ou mais
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text upgrade on
                span.badge.grey.lighten-2.bounceIn
                  .black-text update on
            .col
              p
                strong Use um desses filtros para filtrar somente os 
                  | CPEs marcados para atualização
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text upgrade off
                span.badge.grey.lighten-2.bounceIn
                  .black-text update off
            .col
              p
                strong Use um desses filtros para filtrar somente os 
                  | CPEs não marcados para atualização
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2.mb-2
                  .black-text tr069
                span.badge.grey.lighten-2.bounceIn
                  .black-text flashbox
            .col
              p
                strong Use um desses filtros para filtrar somente os 
                  | cadastros que usam TR-069 ou somente os com firmware Flashbox
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text /ou
            .col
              p
                strong Inclui resultados que contém um ou mais filtros 
                 | aplicados. Exemplo: "João","online","/ou" exibirá 
                 | todos os CPEs que estão online, ou contém "João", 
                 | ou estão online e contém "João" no cadastro
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text /e
            .col
              p
                strong Inclui resultados que contém todos os filtros 
                 | aplicados. Exemplo: "João","online","/e" exibirá 
                 | todos os CPEs que estão online e contém "João" 
                 | no cadastro
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text /excluir
            .col
              p
                strong Exclui resultados de CPEs que possuem o termo
                  |  procurado. Exemplo: "online","/excluir 9999-aix" exibirá
                  | todos os CPEs que estão online e que não contém a
                  | release 9999-aix do Flashbox
          .row.mt-2
            .col
              h4
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text sinal bom
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text sinal ruim
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text sinal erro
                span.badge.grey.lighten-2.bounceIn.mr-2
                  .black-text sem sinal
            .col
              p
                strong Saiba que apenas CPEs com TR069 irão aparecer!
                  | isto irá exibir as CPEs dependendo do estado que
                  | o sinal delas estiver nos parametros configurados
                  | na interface de configuração do Flashman
