#show-certificate.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-info-circle.fa-lg
          strong &nbsp;&nbsp;Detalhes da Certificação
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body.pt-2
        #details-placeholder
          .col
            h2.text-center.grey-text.my-3
              i.fas.fa-spinner.fa-pulse.fa-3x
              br
              br
              span Buscando detalhes...
        #details-error
          .col
            h2.text-center.grey-text.my-3
              i.fas.fa-times.fa-3x
              br
              br
              span Erro acessando os dados
        #details-info.text-center.px-20
          .row
            .col-md-12
              h2.mt-3
                i#done-icon.fas.fa-check-circle
                span#done-text &nbsp;&nbsp;Certificação Concluída
              #details-cancel
                strong Motivo:
                span#details-cancel-text
          hr
          .row
            .col-md-6
              h4 Dados do Atendimento
              ul.list-inline
                li
                  strong Técnico:
                  span#user-name
                li
                  strong Data:
                  span#user-date
                li
                  strong Contrato:
                  span#user-contract
            #router-data.col-md-6
              h4 Dados do Roteador
              ul.list-inline
                li
                  strong MAC:
                  span#router-mac
                li
                  strong Modelo:
                  span#router-model
                li
                  strong Versão:
                  span#router-version
                li
                  strong Release:
                  span#router-release
            #onu-data.col-md-6
              h4 Dados da CPE
              ul.list-inline
                li
                  strong Serial:
                  span#onu-serial
                li
                  strong Modelo:
                  span#onu-model
                li
                  strong Versão Hardware:
                  span#onu-hardware
                li
                  strong Versão Firmware:
                  span#onu-firmware
          hr
          #wan-config-none
            h4 A configuração da WAN não foi alterada
          #wan-config-done
            h4 Configuração da WAN
            #wan-config-list
          hr
          #diagnostic-none-router
            h4 O diagnóstico do roteador não foi feito
          #diagnostic-none-onu
            h4 O diagnóstico da CPE não foi feito
          #diagnostic-done
            h4#diagnostic-header-router Diagnóstico do Roteador
            h4#diagnostic-header-onu Diagnóstico da CPE
            ul#diagnostic-router.list-inline
              li
                strong Acesso WAN:
                span#diagnostic-router-wan
              li
                strong Acesso IPv4:
                span#diagnostic-router-ip4
              li
                strong Acesso IPv6:
                span#diagnostic-router-ip6
              li
                strong Acesso DNS:
                span#diagnostic-router-dns
              li
                strong Licença Anlix:
                span#diagnostic-router-anlix
              li
                strong Comunicação com Flashman:
                span#diagnostic-router-flashman
            ul#diagnostic-onu.list-inline
              li#diagnostic-pon-element
                strong Acesso PON:
                span#diagnostic-onu-pon
              li#diagnostic-rx-element
                strong Sinal Óptico recebido:
                span#diagnostic-onu-rx
              li
                strong Acesso WAN:
                span#diagnostic-onu-wan
              li
                strong Configuração TR-069:
                span#diagnostic-onu-tr069
              li
                strong Licença Anlix:
                span#diagnostic-onu-anlix
              li
                strong Comunicação com Flashman:
                span#diagnostic-onu-flashman
          hr
          #mesh-config-none
            h4 A configuração da rede Mesh não foi alterada
          #mesh-config-done
            h4 Configuração da rede Mesh
            ul.list-inline
              li
                strong Modo Mesh:
                span#mesh-mode
              li
                strong#mesh-slave-head Roteadores secundários:
                ul.list-inline#mesh-slave-list
              li
                strong#mesh-remove-head Roteadores removidos:
                ul.list-inline#mesh-remove-list
          hr
          #wifi-config-none
            h4 A configuração Wi-Fi não foi alterada
          #wifi-config-done
            .row
              #wifi-2ghz.col-md-6
                h4 Configuração Wi-Fi 2.4 GHz
                ul.list-inline
                  li
                    strong SSID:
                    span#wifi-2-ssid
                  li
                    strong Canal:
                    span#wifi-2-channel
                  li
                    strong Largura de Banda:
                    span#wifi-2-band
                  li
                    strong Modo de Operação:
                    span#wifi-2-mode
              #wifi-5ghz.col-md-6
                h4 Configuração Wi-Fi 5.0 GHz
                ul.list-inline
                  li
                    strong SSID:
                    span#wifi-5-ssid
                  li
                    strong Canal:
                    span#wifi-5-channel
                  li
                    strong Largura de Banda:
                    span#wifi-5-band
                  li
                    strong Modo de Operação:
                    span#wifi-5-mode
          hr
          #observations-none
            h4 Não foram feitas observações adicionais
          #observations-done
            h4 Observações Adicionais
            p#observations-field
