extends layout

block content
  .col-lg-10.offset-lg-1
    .card.mt-4
      h4.card-header.teal.lighten-2.white-text
        .fas.fa-chart-bar.fa-lg
        span &nbsp Status do Gerenciador de Medições
      .card-body
        .row.justify-content-center
          if (config_active)
            h3 O sistema de medição e monitoramento ainda não foi ativado!
            h5.mt-2 Acesse sua conta no controle Anlix e adquira seu token de ativação
          else
            h3 O sistema de medição e monitoramento está
            if (true)
              span
                h3 &nbsp online
            else if (true)
              span
                h3 &nbsp offline
            else
              span
                h3 &nbsp desativado
              h5.mt-2 Verifique o status da sua licença no controle Anlix

  if (config_active)
    .col-lg-10.offset-lg-1
      .card.mt-4
        h4.card-header.teal.lighten-2.white-text
          .fas.fa-check.fa-lg
          span &nbsp Ativar Token de Configuração
        .card-body
          form.needs-validation(id="tokenForm", novalidate)
            .input-entry.col-lg-8.offset-lg-2
              label(for="new_token") Token de ativação
              input.form-control(type="text", id="new_token")
              .invalid-feedback
              br
            .col.text-center
              .form-buttons
                button.btn.btn-lg.teal.lighten-2(type="submit")
                  .fas.fa-check.fa-lg
                  span &nbsp Ativar
